/* 
=============
IMPORTACIONES
=============
*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&family=Raleway:wght@700');

/* 
=============
RESET ESTILOS
=============
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p, a, h3 {
  font-family: inherit;
  line-height: normal;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

/* 
=========
VARIABLES
=========
*/

html {

  /* Colores Decorativos */
  --colorPrimario: hsl(350, 60%, 50%);
  --colorSecundario: hsl(220, 40%, 30%);
  
  /* Colores Base */
  --colorFuente: hsl(0, 0%, 95%);
  --colorGris: hsl(210, 15%, 20%);
  --colorNegro: hsl(270, 5%, 10%);

  /* Dimensiones */
  --anchoAreaActiva: 1000px;
  --alturaImagenesPortafolio: 360px;

  /* Fuentes */
  --fuentePrincipal: 'Poppins', sans-serif;
  --fuenteSecundaria: 'Raleway', sans-serif;

  /* Transiciones */
  --transicionColor: background-color 300ms linear, color 300ms ease-out;
  --transicionOpacidad: opacity 300ms linear;
  --transicionTransformacion: transform 300ms ease-out;
}

/* 
=============
MEDIA QUERIES 

Break Points:
A. 0px
B. 480px
C. 960px

Rangos:
AB. Celulares Verticales: <= 479px
BC. Celulares Horizontales: 480 px - 759 px
CD. Tablets, Computadores: >= 760 px
============
*/

/* 
=================
ESTILOS GENERALES
=================
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fuentePrincipal);
  color: var(--colorFuente);
  background-color: var(--colorGris);
}

h1, h2 {
  font-family: var(--fuenteSecundaria);
  line-height: normal;
  text-align: center;
}

a {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
}

a[class|='boton'] {
  display: inline-block;
  border-radius: 5px;
  padding: 0.625rem 1.25rem;
  text-align: center;
}

/* MEDIA QUERIES: ESTILOS GENERALES */

/* Rango AB: <= 479px */
@media (max-width: 479px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.875rem;
  }
}

/* Rango BD: >= 480px */
@media (min-width: 480px) {
  h1 {
    font-size: 3.125rem;
  }
  h2 {
    font-size: 2rem;
  }
}

/* 
==========
ESTRUCTURA
========== 
*/

div.areaActiva {
  margin: 0px auto;
  box-sizing: content-box;
  max-width: var(--anchoAreaActiva);
  padding: 0px 20px;
}

/* 
================
BARRA NAVEGACIÓN
================
*/

nav#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
  background-color: var(--colorPrimario);
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 20%);
}

nav#navbar div.areaActiva {
  display: flex;
}

nav#navbar ul.menuNavegacion {
  display: inline-flex;
}

nav#navbar ul.menuNavegacion a {
  display: inline-block;
  padding: 1rem 0.75rem;
  transition: var(--transicionColor);
}

nav#navbar ul.menuNavegacion a:hover {
  background-color: var(--colorSecundario);
}

/* MEDIA QUERIES: BARRA NAVEGACIÓN */

/* Rango AB: <= 479px */
@media (max-width: 479px) {
  nav#navbar div.areaActiva {
    justify-content: center;
  }
}

/* Rango BD: >= 480px */
@media (min-width: 480px) {
  nav#navbar div.areaActiva {
    justify-content: flex-end;
  }
}

/* 
=============
SECCIÓN: HERO
=============
*/

section#welcome-section {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --coloresGradiente: var(--colorGris), var(--colorNegro);
  background-image: linear-gradient(60deg, var(--coloresGradiente));
}

section#welcome-section h1.tituloHero {
  font-weight: bold;
}

section#welcome-section h3.descripcionHero {
  font-size: 1.5rem;
  font-weight: 200;
  font-style: italic;
  color: var(--colorPrimario);
}

/* 
==================
SECCIÓN: PROYECTOS
==================
*/

section#projects {
  background-color: var(--colorSecundario);
  padding: 3.75rem 0px;
}

section#projects h2.tituloSeccion {
  position: relative;
  letter-spacing: 1px;
}

section#projects h2.tituloSeccion:after {
  content: '';
  display: block;
  width: 150px;
  height: 1px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

section#projects div.galeriaProyectos {
  display: grid;
  margin-top: 3.75rem;
  gap: 1.875rem;
}

section#projects div.project-tile {
  background: var(--colorGris);
  box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 40%);
  border-radius: 5px;
  overflow: hidden;
}

section#projects div.project-tile figure.imagenProyecto {
  height: var(--alturaImagenesPortafolio);
  opacity: 60%;
  transition: var(--transicionOpacidad);
}

section#projects div.project-tile:hover figure.imagenProyecto {
  opacity: 100%;
}

section#projects div.project-tile figure.imagenProyecto img {
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

section#projects div.project-tile div.pieTarjeta {
  padding: 0.75rem 0px;
}

section#projects div.project-tile div.pieTarjeta p {
  line-height: normal;
  text-align: center;
}

section#projects div.project-tile span.decoracionCodigo {
  visibility: hidden;
  transition: var(--transicionColor);
}

section#projects div.project-tile:hover span.decoracionCodigo {
  visibility: visible;
  color: var(--colorPrimario);
}

section#projects div.botonesGaleria {
  text-align: center;
  margin-top: 3.125rem;
}

section#projects div.botonesGaleria a.boton {
  background: var(--colorGris);
  transition: var(--transicionColor);
}

section#projects div.botonesGaleria a.boton:hover {
  background: var(--colorPrimario);
}

section#projects div.botonesGaleria a.boton i.decoracionEnlace {
  margin-left: 0.375rem;
  transform: translateX(0px);
  transition: var(--transicionTransformacion);
}

section#projects div.botonesGaleria a.boton:hover i.decoracionEnlace {
  transform: translateX(2px);
}

/* MEDIA QUERIES: SECCIÓN PROYECTOS */

/* Recorrido 1 */
/* Rango AC: <= 759px */
@media (max-width: 759px) {
  section#projects div.galeriaProyectos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}

/* Rango CD: >= 760px */
@media (min-width: 760px) {
  section#projects div.galeriaProyectos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

/* Recorrido 2 */
/* Rango AB: <= 479px */
@media (max-width: 479px) {
  section#projects div.project-tile div.pieTarjeta p {
    font-size: 0.875rem;
  }
}

/* Rango BD: >= 480px */
@media (min-width: 480px) {
  section#projects div.project-tile div.pieTarjeta p {
    font-size: 1rem;
  }
}

/* 
================
SECCIÓN CONTACTO
================
*/

section#contact {
  padding-top: 3.75rem;
  padding-bottom: 2.5rem;
  background-color: var(--colorGris);
}

section#contact div.encabezadoContacto {
  margin-bottom: 1.25rem;
}

section#contact p.subtituloSeccion {
  margin-top: 0.625rem;
  font-size: 0.9375rem;
  font-style: italic;
  text-align: center;
}

section#contact div.enlacesContacto {
  display: flex;
}

section#contact div.enlacesContacto a.boton {
  padding: 0.625rem 0.75rem;
  text-shadow: 0px 2px 4px hsla(0, 0%, 0%, 20%);
  transform: translateY(0px);
  transition: var(--transicionTransformacion), var(--transicionColor);
}

section#contact div.enlacesContacto a.boton i.decoracionEnlace {
  margin-right: 0.25rem;
}

section#contact div.enlacesContacto a.boton:hover {
  background-color: var(--colorSecundario);
  transform: translateY(2px);
}

/* MEDIA QUERIES: SECCIÓN CONTACTO */

/* Rango AB: <= 479px */
@media (max-width: 479px) {
  section#contact div.enlacesContacto {
    flex-direction: column;
    align-items: stretch;
  }
  section#contact div.enlacesContacto a.boton {
    margin: 0px 1.25rem;
  }
}

/* Rango BD: >= 480px */
@media (min-width: 480px) {
  section#contact div.enlacesContacto {
    flex-flow: row wrap;
    justify-content: center;
  }
  section#contact div.enlacesContacto a.boton {
    margin: 0px 0.25rem;
  }
}

/* 
======
FOOTER
======
*/

footer#footerPagina {
  padding: 0.9375rem 0px;
  background-color: var(--colorNegro);
}

footer#footerPagina div.contenidoFooter {
  display: flex; 
  flex-wrap: wrap;
}

footer#footerPagina p, footer#footerPagina a {
  color:hsl(0, 0%, 80%);
  font-size: 0.875rem;
  text-align: center;
}

footer#footerPagina i {
  vertical-align: middle;
}

/* MEDIA QUERIES: SECCIÓN FOOTER */
/* Rango AC: <= 759px */
@media (max-width: 759px) {
  footer#footerPagina div.contenidoFooter {
    justify-content: center;
  }
  footer#footerPagina p:first-child {
    margin-bottom: 1.25rem;
  }
}

/* Rango CD: >= 760px */
@media (min-width: 760px) {
  footer#footerPagina div.contenidoFooter {
    justify-content: space-between;
  }
  footer#footerPagina p:first-child {
    margin-right: 1.875rem;
  }
}